SERVICE_NAME=${{ values.name }}
SERVICE_VERSION=${{ values.version }}
HOST=0.0.0.0
PORT=8080
EQUIPMENT_ID=${{ values.equipmentId }}
DEFAULT_WINDOW=${{ values.defaultWindow }}
TIMESERIES_SQLITE_PATH=data/oee.db
MQTT_HOST=
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=${{ values.mqttTopic }}
SOURCE_API_URL=
SOURCE_API_TOKEN=
SOURCE_API_TIMEOUT=10
