SERVICE_NAME=${{ values.name }}
SERVICE_VERSION=${{ values.version }}
HOST=0.0.0.0
PORT=8080
SQLITE_PATH=data/machine-states.db
MQTT_HOST=
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=${{ values.topicPattern }}
